@import url('https://use.typekit.net/huh0ewf.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: adobe-garamond-pro, serif;
    /* background-color: black; */
}

li{
    list-style-type: none;
}


.cardBox{
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: .3s;
}

.card{
    height: 320px;
    width: 230px;
    background-size: cover;
    padding: 15px;
    margin: 5vh 3vw;
    color: white;
    border:  2px solid #928b84;
    box-shadow: black;

    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: .3s;
}

.card:hover{
    height: 320px;
    width: 230px;
    transform: translate(0, -5px);
    border:  2px solid #A9927C;
}

.bookMark{
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: blue;
    position: absolute;
    top: 5px;
    right: 5px;
}

.dishName{
    font-size: 2.625em;
    line-height: 1.1em;
    transition: .3s;
    transform:translate(0, -30px);
}

.cardBox :hover .dishName{
    transform: translate(0, -70px);
    font-size: 2em;
    line-height: 1em;
    transition: .3s;
}

.startCooking{
    position: absolute;
    /* margin: 10px 0; */
    padding: 25px;
    background-image: url(../svg/Rectangle\ 1-1.svg);
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    transform: translate(-220px, 0);
    transition: .3s;
}

.cardBox :hover > .startCooking{
    transform: translate(-15px, 0);
}

.startCooking :hover{
    cursor: pointer;
    backdrop-filter: brightness(5);
    transition: .3s;
}

.startCooking :hover svg{
    fill: rgb(240, 208, 49);
}

.startCooking h2{
    font-size: 1.2em;
    text-align: center;
    transform: translate(-5px);
}

@media screen and (max-width: 480px){
    .cardBox{
        justify-content: center;
    }
    .card{
        height: 110vw;
        width: 75vw;
    }
}