@import url('https://use.typekit.net/pwu0lro.css');

@font-face {
    font-family: "trajan";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/TrajanPro-Regular.ttf");
}

@font-face {
    font-family: "trajan";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/TrajanPro-Bold.otf");
}

.card *{
    transition: .2s;
}

.card{
    /* background-color: yellow; */
    height: 27.5625em;
    max-height: 70vw;
    width: 20.3125em;
    max-width: 50vw;
    position: relative;
}

.card li{
    list-style: none;
}

.card h2, .card b{
    font-family: trajan;
    font-size: 1.375em;
}

.card p{
    font-family: Garamond;
    font-size: 1.375em;
}

.card_bg{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* visibility: hidden; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.8em 1.2em;
    cursor: pointer;
    box-shadow: 5px 0 6px rgba(0, 0, 0, 0);
}

.card:hover > .card_bg{
    box-shadow: 5px 0 6px rgba(0, 0, 0, 0.4);
}

.card_bk_hover{
    transform: translate(3em, 3px);
    box-shadow: 5px 0 6px rgba(0, 0, 0, 0.4) !important;
}

.card_bg h1{
    font-family: trajan, trajan-pro-3, Garamond;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 2.625em;
}

.card_bk{
    width: calc(100% );
    height: 100%;
    position: absolute;
    background-color: #FAF6EE;
    padding: 1em 3em 1.5em 2em;
    
}

.card_bk_active{
    transform: translate(100%, 3px);
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

/* .tags_icon{
    background-image: ;
} */



.tags li{
    margin: .6em .8em 0 0;
    padding: .08em .8em;
    border-radius: 10px;
    background-color: #D0BF9F;
    font-size: 1em;
    font-family: Garamond;
    font-weight: bold;
}

.ingredients{
    margin: 1em 0 1em 0;
}

.time p, .time b{
    font-size: 1.125em;
}

.arrow_container{
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 100%;
    display: grid;
    transition: .25s;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
}

.arrow{
    margin: auto auto 0 auto;
    right: 1em;
    height: 30%;
    width: 3px;
    background-color: #88773A;
    transition: .15s;
    border-radius: 3px 3px 0 0;
}

.arrow_2{
    margin: 0 auto auto auto;
    right: 1em;
    height: 30%;
    width: 3px;
    background-color: #88773A;
    transition: .15s;
    border-radius: 0 0 3px 3px;
}

.arrow_active{
    transform: rotate(-10deg) translateY(1%);
    background-color: #bea136;
}

.arrow_2_active{
    transform: rotate(10deg) translateY(-1%);
    background-color: #bea136;
}

.arrow_active_reverse{
    transform: rotate(10deg) translateY(1%);
    background-color: #bea136;
}

.arrow_2_active_reverse{
    transform: rotate(-10deg) translateY(-1%);
    background-color: #bea136;
}

.time_icon{
    background-image: url(../img/timer_icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
    height: 1.8em;
    width: 1.8em;
    transform: translateY(.35em);
    display: inline-block;
}

.total_time{
    height: 1.5em;
    font-size: 1.5em;
    color: lightgrey;
}

.difficulty{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}

.difficulty ul{
    background-image: url(../img/difficulty_scale.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 2em;
    width: 14em;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 0 1.5em 0 1.5em;
}

.difficulty ul li{
    width: 0.875em;
    height: 1.5em;
    background-color: #EDC67D;
    margin: .05em;
}

/* .card_content{
    display: flex;
    flex-direction: column;
} */

#detail_btn{

    font-family: trajan, trajan-pro-3, Garamond;
    font-weight: bolder;
    color: #88773A;
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    bottom: 1.5em;
    right: 3em;
}