* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    line-height: 1.1em;
}

h2{
    line-height: 2em;
}


.header{
    height: auto;
    margin: 5vh 5vw;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.discription{
    padding: 1vh 5vw;
}

.container img{
    width: 66vw;
    align-self: center;
    padding: 5vw;
    position: -webkit-sticky;
    position: sticky;
    top: 20vh; 
}

.footer{
    background-color: black;
    padding: 3vh 7vw;
    margin-top: 3vh;
}

.footer a{
    color: white;
}

@media screen and (max-width: 800px) {
    .header{
        margin: 2vh 5vw;
    }
    .container{
        grid-template-columns: 1fr;
    }

    .discription{
        padding: 0 7vw;
    }

    .container img{
        position: relative;
        top: 0;
        width: 100vw;
        margin: auto;
        order: -1;
    }
}   